<html>
    <head></head>
    <body>
        <form method="GET" id="hash_submit">
            <input type="hidden" name="{{ hash_input_name }}" value="">
            {% for param in params %}
            <input type="hidden" name="{{ param.k }}" value="{{ param.v }}"/>
            {% endfor %}
            <div style="position: absolute; left: -100; top: -100;">
                <input type="submit">
            </div>
            <noscript>
            <input type="submit" value="Click here to continue"/>
            </noscript>
        </form>

        <script>
            document.getElementById("hash_submit").action = document.location.href;
            document.getElementsByName("{{ hash_input_name }}")[0].value = document.location.hash;
            document.getElementById("hash_submit").submit();
        </script>
    </body>
</html>
~
